.encabezado-container {
    display: flex;
    height: 500px;
    width: 100%;
    
}
.encabezado-container img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    filter:brightness(80%);
    transition: .7s ease;
}
.encabezado-container img:hover {
    width: 500px;
    opacity: 1;
    filter: brightness(130%);

}



@font-face {
    font-family: 'Barriecito-Regular.ttf';
    src: url('../../assets/fonts/Barriecito-Regular.ttf');
}
.texto_superpuesto{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Barriecito-Regular.ttf' ;
    font-size: 35px;

    padding: 10px;
}
.parrafo {

    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    top: 20;
    left: 40;

}