.nav{
    background-color: black;
    width: 90%;
    right: 5%;
    top:-20px;
    position: absolute;
    
}
/* components/Navbar.module.css */
.navLis{
    padding-right: 10%;
    list-style: none;
    display: flex; /* Muestra los elementos en una fila */
    justify-content: flex-end;
}
li{
    
    margin-top:1%; 
    padding-left: 50px;
    
}
a{
    text-align: center;
    text-decoration: none;
    color: white;
}