.nav{
    background-color: black;
    width: 90%;
    height:85px;
    right: 5%;
    top:-10px;
    position: absolute;
    z-index: 1000;
}

/* components/Navbar.module.css */
.navLis{
    align-items: center;
    width: 90%;
    padding-right: 10%;
    list-style: none;
    display: flex; /* Muestra los elementos en una fila */
    justify-content: flex-end;
}
li{
    
    margin-top:0%; 
    padding-left: 50px;
    
}
a{
    text-align: center;
    text-decoration: none;
    color: white;
}

div .logo{
    background:url('../images/logo.png');
    width: 70%;
    height: 60px;
    background-size:contain;
    background-repeat: no-repeat;

}


