h3{
    display: flex;
    margin-left: 10%;
}
.lista{
    list-style: none;
    padding-left: 0px;
    display: flex; 
    margin-left: 8%;
}
.listado li{
    padding-left: 40px;
}
.listado a{
    color:#000000;
}
.listado li img{
    width: 20px;
    height: 20px;
    margin-right: 10px;

}